<html lang="en">
    <head>
        <title>The Turing Test</title>
        <meta charset="utf-8">
        <meta name="description" content="A fast paced game about the limits of AI">
        <meta name="author" content="Ajay Tripathy, Kevin Hwang">

        <link href="static/bootstrap.css" rel="stylesheet">
        <link href="static/bootstrap-responsive.css" rel="stylesheet">
        <link href="static/index.css" rel="stylesheet">

        <!-- HTML5 shim which I have never tested -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="http://www.flotype.com/js/bridge.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script>

            $(document).ready(function () {
                var name = prompt("Please enter your name","Twilight Sparkle");
                var bridge = new Bridge({apiKey:'cb0ec2c9'});
                var channel = null
                var role = null

                var myName = name;
                console.log(myName)

                bridge.getService('connect', function (connect) {
                    connect.connect(name, function (obj) {
                        console.log("CONNECTING");
                        if (obj.type === "joined") {
                            console.log("joined a room: "+obj.channel);
                        } else if (obj.type === "created") {
                            console.log('created a room: '+obj.channel);
                        }
                        if (obj.role === "guesser") {
                            role = "guesser";
                        } else if (obj.role === "tricker") {
                            role = "tricker";
                            $("#messages").append("<strong>The game is afoot!</strong><br>");
                        }
                        displayRules();
                        channel = obj.channel;
                        bridge.joinChannel(channel,chatObject, function (channel, channelName) {
                            console.log("Joined channel: ",channelName);
                        });
                    });
                });

                var displayRules = function () {
                    if (role === "guesser") {
                        $("#rulesDiv").text("Your role is to guess whether or not the suspect is a ROBOT or a HUMAN.");
                    } else if (role === "tricker") {
                        $("#rulesDiv").text("Your role is to trick your opponent into thinking you are a ROBOT.");
                        $("#guessRobot").css("display","none");
                        $("#guessHuman").css("display","none");
                    }
                }

                var chatObject = {
                    message : function (channel, sender, message) {
                        var msgObj = {
                            name: sender,
                            content: message
                        }
                        console.log(sender, ":", message);
                        appendMessage(msgObj);
                    },

                    startGame : function () {
                        $("#messages").append("<strong>The game is afoot!</strong><br>");
                    },

                    endGame : function (guessed) {
                        var guess = guessed.guess;
                        if (role === "guesser") {
                            if (guess) {
                                alert("You guessed correctly!");
                            } else {
                                alert("You guessed wrong :(");
                            }
                        } else if (role === "tricker") {
                            if (guess) {
                                alert("You were found out! :(");
                            } else {
                                alert("You fooled your opponent!");
                            }
                        }
                    }
                }

                bridge.connect();

                $("#submitmessage").click(function () {
                    bridge.getChannel(channel, function (channel, channelName) {
                        console.log("Channel obj");
                        console.log(channel);
                        console.log("Channel name: "+channelName);
                        channel.message(channelName, name,$("#message").val(), true);
                        $("#message").val("");
                    });
                });

                $("#guessRobot").click(function () {
                    bridge.getService('connect', function (connect) {
                        connect.guessRobot(true, channel);
                    });
                });

                $("#guessHuman").click(function () {
                    bridge.getService('connect', function (connect) {
                        connect.guessRobot(false, channel);
                    });
                });

                $(document).keydown(function (e) {
                    if (e.which === 13 && document.activeElement.id === "message") {
                        $("#submitmessage").click();
                    }
                });

                var appendMessage = function (msg) {
                    console.log(myName)
                    console.log("Appending message");
                    var name = msg.name
                    var content = msg.content;

                    if (name === myName) {
                        $("#messages").append(name+": "+content+"<br>");
                    } else {
                        $("#messages").append("Suspect"+": "+content+"<br>");
                    }
                }    
            });
            console.log("woot");
    </script>

  </head>

    <body>
        <div class="container">
            <div id="rulesDiv"></div>
            <p>
                <strong>Message</strong>
                <input type="text" id="message"></input>
                <button class="btn btn-primary" id="submitmessage">SUBMIT</button>
            </p>
            <p>
                <button class="btn btn-primary" id="guessRobot">ROBOT</button>
                <button class="btn btn-primary" id="guessHuman">HUMAN</button>
            </p>
            <h2>Message Log</h2>
            <hr>
            <div id="messages">
                
            </div>
            <hr>
            <footer>
                <p>&copy; 2012</p>
            </footer>
        </div>
  </body>
</html>
