<html lang="en">
    <head>
        <title>The Turing Test</title>
        <meta charset="utf-8">
        <meta name="description" content="A fast paced game about the limits of AI">
        <meta name="author" content="Ajay Tripathy, Kevin Hwang">

        <link href="static/bootstrap.css" rel="stylesheet">
        <link href="static/bootstrap-responsive.css" rel="stylesheet">
        <link href="static/index.css" rel="stylesheet">

        <!-- HTML5 shim which I have never tested -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="http://www.flotype.com/js/bridge.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                var bridge = new Bridge({apiKey:'cb0ec2c9'});
                var channel = null
                var name = prompt("Please enter your name","Twilight Sparkle");

                bridge.getService('connect', function (connect) {
                    connect.connect(name, function (obj) {
                        if (obj.type === "joined") {
                            console.log("joined a room: "+obj.channel);
                        } else if (obj.type === "created") {
                            console.log('created a room: '+obj.channel);
                        }
                        channel = obj.channel;
                        bridge.joinChannel(channel,chatObject, function (channel, channelName) {
                            console.log("Joined channel: ",channelName);
                        });
                    });
                });

                var chatObject = {
                    message : function (sender, message) {
                        var msgObj = {
                            name: sender,
                            content: message
                        }
                        console.log(sender, ":", message);
                        appendMessage(msgObj);
                    }
                }

                bridge.connect();

                $("#submitmessage").click(function () {
                    bridge.getChannel(channel, function (channel, channelName) {
                        console.log("Channel obj");
                        console.log(channel);
                        console.log("Channel name: "+channelName);
                        channel.message(name,$("#message").val());
                    });
                });

                var appendMessage = function (msg) {
                    var name = msg.name;
                    var content = msg.content;
                    $("#messages").append(name+": "+content+"<br>");
                }
            });
            console.log("woot");
    </script>

  </head>

    <body>
        <div class="container">
            <p>
                <strong>Message</strong>
                <input type="text" id="message"></input>
                <br>
                <button class="btn btn-primary" id="submitmessage">SUBMIT</button>
            </p>
            <hr>
            <div id="messages"></div>
            <hr>
            <footer>
                <p>&copy; 2012</p>
            </footer>
        </div>
  </body>
</html>
